# https://github.com/openai/codex/blob/main/codex-rs/config.md

#model ="gpt-5"

approval_policy = "on-request"
#approval_policy = "never"

# Need danger-full-access to run git commands automatically (though mcp allow to use git with workspace-write mode)
# https://github.com/openai/codex/issues/5034
sandbox_mode    = "workspace-write"
#sandbox_mode    = "danger-full-access"

#model_reasoning_effort = "high"
model_reasoning_effort = "medium"
network_access = true

# notify = ["bash", "-c", "..."]

rcmp_client = true
web_search_request = true

[shell_environment_policy]
inherit = "all"
#ignore_defualt_excludes = false
#exclude = ["AWS_*", "AZURE_*"]
#set = { CI = "1" }
include_only = ["PATH", "HOME"]


#[mcp_servers.context7]
#command = "context7-mcp"
#args = ["--api-key", "${CONTEXT7_API_KEY}"]
#
[mcp_servers.serena]
command = "serena"
args = ["start-mcp-server", "--context", "codex", "--enable-web-dashboard", "false"]
startup_timeout_sec = 60

[features]
unified_exec = true
apps = true
shell_snapshot = true
steer = true
personality = true

#[mcp_servers.playwright]
#command = "mcp-server-playwright"
#args = []
#enabled = true
#
#[mcp_servers.chrome-devtools]
#command = "chrome-devtools-mcp"
#args = []
#enabled = false
#
#[mcp_servers.aws-knowledge-mcp-server]
#command = "fastmcp"
#args = ["run", "https://knowledge-mcp.global.api.aws"]
#enabled = false

# Need to run git command automatically with workspace-write, as .git directory is not writable in workspace-write mode (https://github.com/openai/codex/issues/5034)
#[mcp_servers.mcp-server-git]
#command = "mcp-server-git"
#args = []
#
#[mcp_servers.github-mcp-server]
#url = "https://api.githubcopilot.com/mcp"
#bearer_token_env_var = "GITHUB_MCP_API_TOKEN" # Need to write environmental variable name instead of token value directly
#enabled = false
