[user]
  name = rcmdnk
  email = rcmdnk@gmail.com

[alias]
  sb = show-branch
  br = branch
  co = checkout
  cl = clone
  ci = commit -a
  st = status
  d = difftool --tool=vimdiff --no-prompt
  ls = ls-files
  sm = submodule
  dns = diff --name-status
  cb = rev-parse --abbrev-ref HEAD
  pull-dry-run  = !"git fetch origin; B=$(git rev-parse --abbrev-ref HEAD); git diff --stat --summary ${B}..origin/${B}"
  pull-dry-run-s = !"git fetch origin $(git config branch.$(git rev-parse --abbrev-ref HEAD).merge); git diff --stat --summary HEAD...FETCH_HEAD"

[core]
	filemode = false
	autocrlf = false
	editor = vim
	execludesfile = ~/.gitignore_global

[push]
#	default = simple
	default = matching

[github]
	user = rcmdnk
