*.bib dff=bibtex
*.c diff=cpp
*.C diff=cpp
*.cc diff=cpp
*.cpp diff=cpp
*.cxx diff=cpp
*.h diff=cpp
*.cs diff=csharp
*.f diff=fortran
*.f90 diff=fortran
*.html diff=html
*.md diff=html
*.java diff=java
*.js diff=java
*.m diff=objc
*.pl diff=perl
*.php diff=php
*.py diff=python
*.rb diff=ruby
*.scpt diff=applescript
*.tex diff=tex
