[user]
  name = rcmdnk
  email = rcmdnk@gmail.com

[alias]
  br = branch
  ch = checkout
  co = clone
  ci = commit -am
  st = status

[core]
	filemode = false
	autocrlf = false

[push]
	default = simple

[github]
	user = rcmdnk
